/examples/sandbox/LEMS_sandbox.xml
/examples/M1/LEMS_M1.xml

/examples/NeuroMLImport/LEMS_SimpleNet_netpyne.py
/examples/NeuroMLImport/LEMS_SimpleNet_netpyne.py_main.json
/examples/NeuroMLImport/RS.cell.json
/examples/NeuroMLImport/RS_celldefinition.py
/examples/NeuroMLImport/poissonFiringSyn.input.json
/examples/NeuroMLImport/poissonFiringSyn_inputdefinition.py
/examples/HHTut/HHTut.net.svg
*.pyc
*.egg-info
build
dist
x86_64
i386
*.dll
umac

/examples/HybridTut/*.nml
/examples/HybridTut/*.mod
/examples/HybridTut/*.dat
/examples/HybridTut/*.hoc
/examples/HybridTut/*nrn.py
/examples/HybridTut/LEMS*.xml
/examples/HHTut/*.nml
/examples/HHTut/*.dat
/examples/HHTut/*.hoc
/examples/HHTut/LEMS*.xml
/examples/NeuroMLImport/*.dat
/examples/M1/*.nml
/examples/M1/*.svg
/examples/sandbox/mpiHHTut.pkl
/examples/sandbox/sandbox.net.nml
/examples/sandbox/sandbox.net.pov
/examples/sandbox/sandbox.net.svg
/netpyne/__init__$py.class
/examples/NeuroMLImport/LEMS_SimpleNet_nrn.py
/examples/NeuroMLImport/LEMS_SimpleNet_pynn.py
/examples/NeuroMLImport/LEMS_SimpleNet_pynn.py_main.json
/nb-configuration.xml
