/examples/HHTut/HHTut.net.svg
*.pyc
*.egg-info
build
dist
x86_64
i386
*.dll
umac

/examples/HybridTut/*.nml
/examples/HybridTut/*.mod
/examples/HybridTut/*.dat
/examples/HybridTut/*.hoc
/examples/HybridTut/*nrn.py
/examples/HybridTut/LEMS*.xml
/examples/HHTut/*.nml
/examples/HHTut/*.dat
/examples/HHTut/*.hoc
/examples/HHTut/LEMS*.xml
/examples/NeuroMLImport/*.dat
