#Netpyne travis testing script

sudo: true

addons:
  apt:
    packages:
       # Requirements for Neuron/NetPyne
    - build-essential
    - autoconf
    - automake
    - libtool
    - python-numpy 
    - python-scipy
    - python-matplotlib 

language: python
python: 2.7

env:
    system_site_packages: true  
#    - NEURON_HOME=$TRAVIS_BUILD_DIR/nrn-7.3/x86_64/bin/
#   - PYTHONPATH=$TRAVIS_BUILD_DIR:$PYTHONPATH

install:
    #- pip install scipy
    - pip install numpy                                                                                                                                                                                                               
    - pip install matplotlib
    - wget http://www.neuron.yale.edu/ftp/neuron/versions/v7.3/nrn-7.3.tar.gz
    - tar xzvf nrn-7.3.tar.gz
    - cd nrn-7.3
    - ./configure --prefix `pwd` --without-iv --with-nrnpython
    - make
    - make install
    - cd src/nrnpython
    - sudo python setup.py install
    - cd ../../..
    - ls -alt
    - export NEURON_HOME=$TRAVIS_BUILD_DIR/nrn-7.3/x86_64/bin/
    - export PYTHONPATH=$TRAVIS_BUILD_DIR:/usr/local/lib/python2.7/dist-packages/:/home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages
    - echo $PYTHONPATH
    - $NEURON_HOME/nrnivmodl doc/source/code/mod
    - cp examples/HHTut/HHTut.py doc/source/code/

script:
    - python doc/source/code/tut1.py
    - python doc/source/code/tut2.py
    - python doc/source/code/tut3.py
    - python doc/source/code/tut5.py
    - python doc/source/code/tut6.py
    - python doc/source/code/tut_import.py
    - python examples/HHTut/HHTut_run.py
    - python examples/HybridTut/HybridTut_run.py
    - python examples/M1/M1_run.py
    - python examples/RL_arm/main.py

notifications: 
    email: false
    slack: neurosim:pj4DaRn3CrmH6hSRV0zBhfjS


# Framework for running automated tests on OSB using Travis-CI, see https://github.com/OpenSourceBrain/osb-model-validation

# sudo: false

# addons:
#   apt:
#     packages:
#        # Requirements for Neuron/NetPyne
#     - build-essential
#     - autoconf
#     - automake
#     - libtool
#     - python-numpy 
#     - python-scipy 
#     - python-matplotlib 
#     - python-sympy

# language: python
# python: 2.7

# virtualenv:
#     system_site_packages: true

# env:
#     - OMV_ENGINE=PyNEURON

# install: 
#     # Need to pre install NEURON so nrnivmodl can be run targeting mod files in a different directory
#     - omv install NEURON
#     - export NEURON_HOME=$TRAVIS_BUILD_DIR/neuron/nrn/x86_64/bin/
#     - export PATH=$PATH:/home/travis/neuron/nrn/x86_64/bin/
#     - export PYTHONPATH=$TRAVIS_BUILD_DIR:/usr/local/lib/python2.7/dist-packages/:/home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages
#     - $NEURON_HOME/nrnivmodl doc/source/code/mod
#     #- /home/travis/neuron/nrn/x86_64/bin/nrnivmodl ../mod.files
#     - cd ../..

# script:
#     - python doc/source/code/tut2.py


# ## PyNN

# language: python
# python:
#   - 2.6
#   - 3.3
#   - 3.5
#   - "2.7_with_system_site_packages"
# sudo: false
# addons:
#   apt:
#     packages:
#       - build-essential
#       - autoconf
#       - automake
#       - libtool
#       - libreadline6-dev
#       - libncurses5-dev
#       - libgsl0-dev
#       - python-all-dev
#       - python-numpy
#       - python-scipy
#       - python-sympy
#       - openmpi-bin
#       - libopenmpi-dev
# install:
#   - pip install -r requirements.txt
#   - pip install coverage coveralls
#   - source ci/install_brian.sh
#   - source ci/install_nest.sh
#   - source ci/install_neuron.sh
#   - pip install .
# script:  bash ci/test_script.sh
# after_success:
#   - coveralls
# cache:
#   directories:
#     - $HOME/nest-2.6.0
#     - $HOME/nrn-7.3
#     - $HOME/build/nest-2.6.0
#     - $HOME/build/nrn-7.3
#     - $HOME/.cache/pip