# Netpyne travis testing script

sudo: false

git:
  depth: false

addons:
  apt:
    packages:
    # - python-numpy 
    # - python-scipy 
    # - python-matplotlib 
    - python-tk
    - python-sympy
    - python-tables 
    - locales 
    - wget 
    - gcc 
    - g++ 
    - build-essential 
    - libncurses-dev 
    - libpython-dev 
    - cython 
    - libx11-dev 
    - git 
    #- bison 
    - flex 
    - automake  
    - libtool  
    - libxext-dev 
    - libncurses-dev 
    #- libopenmpi-dev 
    - make 
    #- zlib1g-dev 
    #- unzip 
    #- libpng-dev

language: python
python: 
    - 2.7
    - 3.6

# virtualenv:
#     system_site_packages: true  

install:
    - cd ..
    - pip install numpy matplotlib scipy pandas future tables
    - pip install pyneuroml # This will install libNeuroML also
    - git clone --branch 7.6.2 https://github.com/neuronsimulator/nrn
    - cd nrn
    - ./build.sh
    - export NEURON_HOME=~/neuron
    - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then ./configure --without-x --with-nrnpython=python2 --prefix=$NEURON_HOME --without-paranrn --without-iv ; fi  # --prefix='/home/jovyan/work/nrn/'
    - if [[ $TRAVIS_PYTHON_VERSION == 3.6 ]]; then ./configure --without-x --with-nrnpython=python3 --prefix=$NEURON_HOME --without-paranrn --without-iv ; fi  # --prefix='/home/jovyan/work/nrn/'
    - make --silent -j4
    - make --silent install -j4
    - cd src/nrnpython
    - python setup.py install
    - export PATH=$PATH:$NEURON_HOME/x86_64/bin
    - export PYTHONPATH=$PYTHONPATH:$TRAVIS_BUILD_DIR:$NEURON_HOME/lib/python/

script:
    - cd $TRAVIS_BUILD_DIR/doc/source/code/
    - $NEURON_HOME/x86_64/bin/nrnivmodl mod
    - python tut2.py -nogui
    - python tut3.py -nogui
    - python tut5.py -nogui
    - python tut6.py -nogui
    - python tut7.py -nogui
    #- python tut_import.py
    # HHTut example
    - cd ../../../examples/HHTut
    - python HHTut_run.py -nogui
    - python HHTut_export.py -nogui
    # HybridTut example
    - cd ../HybridTut
    - $NEURON_HOME/x86_64/bin/nrnivmodl .
    - python HybridTut_run.py -nogui
    # - python HybridTut_export.py -nogui # commented until neuroml2 adapted to simplified cellParams
    # M1 example
    - cd ../M1
    - $NEURON_HOME/x86_64/bin/nrnivmodl .
    - python M1_run.py -nogui
    - python M1_export.py -nogui
    # PTcell example
    - cd ../PTcell
    - $NEURON_HOME/x86_64/bin/nrnivmodl mod
    - python init.py -nogui
    # LFP recording
    - cd ../LFPrecording
    - $NEURON_HOME/x86_64/bin/nrnivmodl mod
    - python cell_lfp.py -nogui 
    # LFP recording
    - cd ../saving
    - python init.py -nogui 
    # RxD buffering
    - cd ../rxd_buffering
    - python buffering.py -nogui 
    # RxD net
    - cd ../rxd_net
    - $NEURON_HOME/x86_64/bin/nrnivmodl mod
    - python init.py -nogui
    # NeuroML import example
    - cd ../NeuroMLImport/
    - $NEURON_HOME/x86_64/bin/nrnivmodl .
    - python SimpleNet_import.py -nogui

    - cd ../..

notifications: 
    email: false
    #slack: neurosim:pj4DaRn3CrmH6hSRV0zBhfjS




