name: Tests
on: [push, pull_request]
jobs:
  Run-Tests:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        #python-version: [2.7, 3.7]
        python-version: [ 3.7, 3.9, "3.10" ]

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Update apt-get
        run: sudo apt-get update

      - name: Install packages
        run: sudo apt-get install python-tk python3-tables

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -e .

      - name: Info on installed package versons
        run: |
          pip list

      - name: Test with pytest
        run: |
          source tests/test.sh
